@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 27%;
    /* Neutral alternative to Slate-800 */

    --primary: 0 0% 27%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 27%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 46.9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 11.2%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4.9%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 4.9%;

    --secondary: 0 0% 17.5%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 17.5%;
    --muted-foreground: 0 0% 65.1%;

    --accent: 0 0% 17.5%;
    --accent-foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased text-[12px];
    font-family: 'Roboto', sans-serif;
  }
}